.search {
    -webkit-appearance: none;
    border:limegreen;
    outline:rgb(241, 236, 236);
    width: 400px;
    height: 20;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;
    margin-left: 175px;
  }
  